@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-family: "Roboto";
  --green: #66CB92;
  --red: #FF9396;

  --bg-color-1: #FC00FF;
  --bg-color-2: #00DBDE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--bg-color-1), var(--bg-color-2));

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}